@using static AdminLTE.MVC.Helpers.NavigationIndicatorHelper;

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>
             RECEPCION 
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">IN</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                <i class="nav-icon fas fa-pallet"></i>
                <p>
                    Ingreso de Mercaderias
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="UI/icons.html" class="nav-link">
                <i class="fas fa-clipboard-check nav-icon"></i>
                <p>Ordenes de entrada</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="UI/buttons.html" class="nav-link">
                <i class="fas fa-clock nav-icon"></i>
                <p>Gestion de Turnos</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="UI/sliders.html" class="nav-link">
                <i class="fas fa-bell nav-icon"></i>
                <p>Avisos y Alertas</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="UI/modals.html" class="nav-link">
                <i class="fas fa-download nav-icon"></i>
                <p>Documentos</p>
            </a>
        </li>
        <li>&nbsp;</li>
     </ul>
</li>

