@using static AdminLTE.MVC.Helpers.NavigationIndicatorHelper;

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-shopping-basket"></i>
        <p>
             RETAIL 
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-dark right">POS</span>
        </p>
    </a>
</li>