@using static AdminLTE.MVC.Helpers.NavigationIndicatorHelper;

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-dolly-flatbed"></i>
        <p>
             CONTABLE
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-danger right">ERP</span>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-user-circle"></i>
                <p>
                    CLIENTES
                    <i class="fas fa-angle-double-right right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">

                <li class="nav-item">
                    <a href="UI/icons.html" class="nav-link">
                        <i class="fas fa-money-bill nav-icon"></i>
                        <p>Ventas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="UI/buttons.html" class="nav-link">
                        <i class="fas fa-money-check nav-icon"></i>
                        <p>Cobranzas</p>
                    </a>
                </li><li>&nbsp;</li>
            </ul>
    </li>
            <li class="nav-item">
                <a href="UI/sliders.html" class="nav-link">
                    <i class="fas fa-check-double nav-icon"></i>
                    <p>PROVEEDORES</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="UI/modals.html" class="nav-link">
                    <i class="fas fa-concierge-bell nav-icon"></i>
                    <p>
                        Compras
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="UI/modals.html" class="nav-link">
                    <i class="fas fa-concierge-bell nav-icon"></i>
                    <p>
                        Pagos
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="UI/modals.html" class="nav-link">
                    <i class="fas fa-concierge-bell nav-icon"></i>
                    <p>
                        Recursos Humanos
                    </p>
                </a>
            </li>
            <li>&nbsp;</li>
            <li class="nav-item">
                <a href="UI/modals.html" class="nav-link">
                    <i class="fas fa-concierge-bell nav-icon"></i>
                    <p>
                        Gastos y Facturacion
                    </p>
                </a>
            </li>
            <li>&nbsp;</li>

        </ul>
</li>
